.powchart {
  position: relative;
  overflow: hidden;
}
.powchart .panel {
  margin-bottom: 0;
}
.powchart .panel-heading {
  overflow: hidden;
}
.powchart .panel-body {
  position: relative;
  min-height: 300px;
  padding: 5px;
}
.powchart .date-range {
  width: 300px;
}
.powchart .chart-indicator-filter-form,
.powchart .chart-indicator-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  color: #fff;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
}
.powchart .chart-indicator-form {
  background: #34495E;
}
.powchart .chart-indicator-params > div{
  display: none;
}
.powchart .chart-indicator-params div.active {
  display: block;
}

.powchart .chart-indicator-filter-form {
  background-color: #2C3E50;
}

.powchart .chart-indicator-filter-items>div{
  display: none;
}
.powchart .chart-indicator-filter-items > .active {
  display: block;
}
.powchart .chart-indicator-filter-items .filter-values {
  display: none;
}
.powchart .chart-indicator-filter-items > .active >.active .filter-values {
  display: block;
}

.powchart .highcharts-legend-item span>span {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 40px;
  margin-top: -12px;
  margin-left: -35px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.powchart .highcharts-legend-item i {
  right: 30px;
  vertical-align: top;
  top: 1.5px;
}

.powchart .chart-subchart {
  position: absolute;
  top: 50px;
  width: 100%;
}

.powchart .subchart-item {
  float: right;
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.powchart .chart-legend {
  padding: 0 5px 15px 5px;
  text-align: center
}

.powchart .chart-legend .label {
  font-size: 85%;
  margin: .5em .2em;
  display: inline-block;
}


/*override*/
@media(min-width: 564px) {
    div.powchart-daterange .ranges ul {
        width: 100px
    }
}
/*hack IE8*/
.ie8.daterangepicker {
  width: 700px;
  padding-left: 200px;
}
.ie8.show-calendar.daterangepicker .calendar {
  display: inline-block;
}
.ie8.show-calendar.daterangepicker .ranges {
   position: absolute;
  left: 0;
  width: 180px;
}